@import '../../scss/colors.scss';

.form {
   &_input-wrapper {
    position: relative;
   }
   
 &_label {
    position: absolute;
    top: 25%;
    transition: .3s top;
    padding-left: 15px;
    padding-bottom: 15px;
    &--active {
      top: -50%;
      font-style: 14px;
      color:
    }
 }

 &_input {
   bottom: none;
    border-bottom;: 2px solid map-get(@darkColors, 'dark' )
    display: block;
    width: 100%;
    outline: none;
    padding: 0 15px;
    &:focus {
      border-bottom: 2px solid map-get($primaryColors, 'primary');
    }
   }

 &_button {
   border: 1px solid red
  }
}

