.body1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 74px;
  line-height: 55px;
  text-transform: capitalize;
}

.body2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
}
