.parapgraph-large {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  text-transform: capitalize;
}

.parapgraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  text-transform: capitalize;
}
