@import './scss/fonts.scss';
@import './scss/colors.scss';
@import './scss/typography.scss';
@import './scss/breakpoints.scss';

html {
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
}

body {
  color: $mainColor;
  font-family: $mainFontFamily;
  margin: 0;
}
