@import './scss/fonts.scss';
@import './scss/colors.scss';
@import './scss/typography.scss';
@import './scss/breakpoints.scss';
@import './scss/utils.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
}

body {
  color: $mainColor;
  font-family: $mainFontFamily;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
